<div class="flex-center">
  <div class="dashboard-container">
    <div class="heading-box">
      <h1>Your Dashboard</h1>
      <p class="inactive">Add new or manage your existing resumes, cover letters, or job descriptions</p>
    </div>
  </div>
</div>
<div class="flex-center">
  <div class="form-display-buttons">
    <h2 class="left-button button-activated">Add New Files</h2>
    <h2 class="right-button button-deactivated">Manage Existing Files</h2>
  </div>
</div>

<div class="add-files-wrapper">

  <div class="form-style">
    <h3 class="paste form-head">Add a New Resume</h3>
    <div class="inactive">
      <div class="section"><span>1</span>Paste Text or Add a Photo of Your Resume</div>
      <div class="form-display-buttons">
        <h2 class="paste-button button-activated">Paste Text</h2>
        <h2 class="image-button button-deactivated">Add a Photo</h2>
      </div>
      <div class="paste-wrapper">
        <%= form_for @resume, :url => {:controller => :resumes, :action => "create"}  do |f| %>
        <div class="inner-wrap">
          <%= f.text_field :name, placeholder: "Resume Name" %>

          <%= f.text_area :body, placeholder: "Paste Resume Here" %>
        </div>

        <%= f.submit "Add Resume" %>
        <% end %>
      </div>

      <div class="image-wrapper inactive-full-width">
        <%= form_tag :resumes, method: :post, action: "upload", multipart: true do %>
        <div class="inner-wrap">
          <%= text_field_tag :name, "", placeholder: "Resume Name"   %>
        </div>
          <%= file_field_tag :image, accept: 'image/*', capture: "camera"  %>
          <%= submit_tag "Add Resume" %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="form-style">
    <h3 class="paste form-head">Add a New Cover Letter</h3>
    <div class="inactive">
      <div class="section"><span>2</span>Paste Text or Add a Photo of Your Cover Letter</div>
      <div class="form-display-buttons">
        <h2 class="paste-button button-activated">Paste Text</h2>
        <h2 class="image-button button-deactivated">Add a Photo</h2>
      </div>
      <div class="paste-wrapper">
        <%= form_for @cover_letter, :url => {:controller => :cover_letters, :action => "create"}  do |f| %>
        <div class="inner-wrap">
          <%= f.text_field :name, placeholder: "Name Your Cover letter Here" %>

          <%= f.text_area :body, placeholder: "Paste Your Cover Letter Here (Exclude Address)" %>
        </div>

        <%= f.submit "Add Cover Letter" %>
        <% end %>
      </div>

      <div class="image-wrapper inactive-full-width">
        <%= form_tag :cover_letters, method: :post, action: "upload", multipart: true do %>
        <div class="inner-wrap">
          <%= text_field_tag :name, "", placeholder: "Cover Letter Name"   %>
        </div>
          <%= file_field_tag :image, accept: 'image/*', capture: "camera"  %>

          <%= submit_tag "Add Cover Letter" %>
        <% end %>
      </div>
    </div>
  </div>


  <div class="form-style">
    <h3 class="paste form-head">Add a New Job Description</h3>
    <div class="inactive">
      <div class="section"><span>3</span>Paste Text or Add a Photo of the Job Description</div>
      <div class="form-display-buttons">
        <h2 class="paste-button button-activated">Paste Text</h2>
        <h2 class="image-button button-deactivated">Add a Photo</h2>
      </div>
      <div class="paste-wrapper">
        <%= form_for @job, :url => {:controller => :jobs, :action => "create"}  do |f| %>
        <div class="inner-wrap">
          <%= f.text_field :company_name, placeholder: "Company Name" %>

          <%= f.text_field :job_title, placeholder: "Job Title" %>

          <%= f.text_area :description, placeholder: "Paste Job Description Here" %>
        </div>

        <%= f.submit "Add Job" %>
        <% end %>
      </div>

      <div class="image-wrapper inactive-full-width">
        <%= form_tag :jobs, method: :post, action: "upload", multipart: true do %>
        <div class="inner-wrap">
          <%= text_field_tag :company_name, "", placeholder: "Company Name"   %>

          <%= text_field_tag :job_title, "", placeholder: "Job Title"   %>
        </div>
        <%= file_field_tag :image, accept: 'image/*', capture: "camera"  %>

        <%= submit_tag "Add Job" %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="view-existing-files-wrapper inactive-full-width">

  <div class="form-style">
    <h3 class="form-head">Your Resumes</h3>
    <% if current_user.resumes.empty? %>
      <p>You do not have any added resumes.</p>
    <% else %>
      <% current_user.resumes.each do |resume| %>
        <%= resume.name %>
      <% end %>
    <% end %>
  </div>

  <div class="form-style">
    <h3 class="form-head">Your Cover Letters</h3>
    <% if current_user.cover_letters.empty? %>
      <p>You do not have any added cover letters.</p>
    <% else %>
      <% current_user.cover_letters.each do |cover_letter| %>
        <%= cover_letter.name %>
      <% end %>
    <% end %>
  </div>

  <div class="form-style">
    <h3 class="form-head">Your Jobs</h3>
    <% if current_user.jobs.empty? %>
      <p>You do not have any added jobs.</p>
    <% else %>
    <ul>
      <li>
        <% current_user.jobs.each do |job| %>
        <%= job.company_name %>: <%= job.job_title %>
        <% end %>
      </li>
    </ul>
    <% end %>
  </div>

</div>
