<h1>Your Dashboard</h1>
<p>Upload up to three resumes, cover letters, and job descriptions.</p>

<div>
  <a href="#" class="paste">Paste a Resume</a>
  <div class="inactive">
    <%= form_for @resume, :url => {:controller => :resumes, :action => "create"}  do |f| %>
    <%= f.text_field :name, placeholder: "Resume Name" %>

    <%= f.text_field :body, placeholder: "Paste Resume Here" %>

    <%= f.submit "Add Resume" %>
    <% end %>
  </div>
</div>

<div>
  <h3>Your Resumes</h3>
  <% current_user.resumes.each do |resume| %>
    <%= resume.name %>
  <% end %>
</div>
