<div class="flex-center">
  <div class="select-options">
    <%= form_tag :cover_letter_analysis, method: :get do %>

      <%= select_tag "cover_letter", options_from_collection_for_select(@user_cover_letters, "id", "name", params[:cover_letter].to_i) %>

      <%= select_tag "id", options_from_collection_for_select(@user_jobs, "id", "full_title", params[:id].to_i) %>

      <%= submit_tag "View Analysis", class: "select-option-button" %>

    <% end %>
  </div>
</div>

<div class="flex-center">
  <h1>Cover Letter Analysis</h1>
</div>


<div class="flex-center charts">
  <div class="tone-container">
    <h3 class="tone-head">Overall Tone</h3>
  </div>
</div>
<div class="flex-center">
<% @cover_letter.cover_letter_document_tones.each do |tone| %>
  <div class="tone">
    <div class="tone-label">
      <%= tone.tone %>
    </div>
    <%= pie_chart([["#{tone.tone}", tone.score*100], ["", 100-(tone.score*100)]],
                    donut: true,
                    colors: ['#257C9E', '#f7f5f1'],
                    width: "400px",
                    height: "200px",
                    legend: "none",
                    library: {backgroundColor: '#f7f5f1'}) %>
  </div>
<% end %>
</div>

<% unless @cover_letter.cover_letter_sentence_tones.confident.empty? %>
<div class="form-style">
  <h3 class="form-head">Confident</h3>
      <div class="section">Parts of your cover letter that display confidence</div>
      <ul class="sentence-group">
        <% @cover_letter.cover_letter_sentence_tones.confident.each do |sentence| %>
        <li class="sentence-info">
          <div class="sentence">
            <%= sentence.sentence %>
          </div>
          <div class="score">
            - <%= (sentence.score*100).to_i.round(0) %>%
          </div>
        </li>
        <% end %>
      </ul>
</div>
<% end %>

<% unless @cover_letter.cover_letter_sentence_tones.joy.empty? %>
<div class="form-style">
  <h3 class="form-head">Joy</h3>
      <div class="section">Parts of your cover letter that display joy</div>
      <ul class="sentence-group">
      <% @cover_letter.cover_letter_sentence_tones.joy.each do |sentence| %>
        <li class="sentence-info">
          <div class="sentence">
            <%= sentence.sentence %>
          </div>
          <div class="score">
            - <%= (sentence.score*100).to_i.round(0) %>%
          </div>
        </li>
        <% end %>
      </ul>
</div>
<% end %>

<% unless @cover_letter.cover_letter_sentence_tones.analytical.empty? %>
<div class="form-style">
  <h3 class="form-head">Analytical</h3>
      <div class="section">Parts of your cover letter that are analytical</div>
        <ul class="sentence-group">
          <% @cover_letter.cover_letter_sentence_tones.analytical.each do |sentence| %>
          <li class="sentence-info">
            <div class="sentence">
              <%= sentence.sentence %>
            </div>
            <div class="score">
              - <%= (sentence.score*100).to_i.round(0) %>%
            </div>
          </li>
          <% end %>
        </ul>
</div>
<% end %>

<% unless @cover_letter.cover_letter_sentence_tones.tentative.empty? %>
<div class="form-style">
  <h3 class="form-head">Tenative</h3>
      <div class="section">Parts of your cover letter that display tentativeness</div>
      <ul class="sentence-group">
        <% @cover_letter.cover_letter_sentence_tones.tentative.each do |sentence| %>
        <li class="sentence-info">
          <div class="sentence">
            <%= sentence.sentence %>
          </div>
          <div class="score">
            - <%= (sentence.score*100).to_i.round(0) %>%
          </div>
        </li>
        <% end %>
      </ul>
</div>
<% end %>

<% unless @cover_letter.cover_letter_sentence_tones.sadness.empty? %>
<div class="form-style">
  <h3 class="form-head">Sadness</h3>
      <div class="section">Parts of your cover letter that display sadness</div>
      <ul class="sentence-group">
        <% @cover_letter.cover_letter_sentence_tones.sadness.each do |sentence| %>
        <li class="sentence-info">
          <div class="sentence">
            <%= sentence.sentence %>
          </div>
          <div class="score">
            - <%= (sentence.score*100).to_i.round(0) %>%
          </div>
        </li>
        <% end %>
      </ul>
</div>
<% end %>

<% unless @cover_letter.cover_letter_sentence_tones.anger.empty? %>
<div class="form-style">
  <h3 class="form-head">Anger</h3>
      <div class="section">Parts of your cover letter that display anger</div>
      <ul class="sentence-group">
        <% @cover_letter.cover_letter_sentence_tones.anger.each do |sentence| %>
        <li class="sentence-info">
          <div class="sentence">
            <%= sentence.sentence %>
          </div>
          <div class="score">
            - <%= (sentence.score*100).to_i.round(0) %>%
          </div>
        </li>
        <% end %>
      </ul>
</div>
<% end %>

<% unless @cover_letter.cover_letter_sentence_tones.fear.empty? %>
<div class="form-style">
  <h3 class="form-head">Fear</h3>
      <div class="section">Parts of your cover letter that display fear</div>
      <ul class="sentence-group">
        <% @cover_letter.cover_letter_sentence_tones.fear.each do |sentence| %>
        <li class="sentence-info">
          <div class="sentence">
            <%= sentence.sentence %>
          </div>
          <div class="score">
            - <%= (sentence.score*100).to_i.round(0) %>%
          </div>
        </li>
        <% end %>
      </ul>
</div>
<% end %>

<div class="form-style">
  <h3 class="form-head">Keywords</h3>
      <div class="section">To better match the job description, you should consider adding these keywords</div>
        <ul>
          <% @keywords.each do |keyword| %>
            <% if keyword.wikipedia.nil? %>
              <li>
                <%= keyword.entity.downcase %>
              </li>
            <% else %>
              <li>
                <%= link_to keyword.entity.downcase, keyword.wikipedia %>
              </li>
            <% end %>
          <% end %>
        </ul>
</div>
