<ul class="top-nav">
  <li>
    <a href="/"><%= image_tag("score-arrow-xs", class: "logo") %></a>
  </li>
  <li>
    <div class="brand">
      Job<span>Score</span>
    </div>
  </li>
</ul>
<a href="#" class="toggle">
  <div>
    <div class="toggle-button"></div>
    <div class="toggle-button"></div>
    <div class="toggle-button"></div>
  </div>
  <div class="menu-button">
    Menu
  </div>
</a>
<div class="hamburger-navbar-border"></div>
<nav>
  <div class="bottom-nav-container inactive">
    <ul class="bottom-nav">
      <% if logged_in? %>
      <li>
        <% if current_user.resumes.empty? || current_user.jobs.empty? %>
          <%= link_to "Resume Analysis", dashboard_index_path(notice: "resume") %>
        <% else %>
          <%= link_to "Resume Analysis", resume_analysis_path %>
        <% end %>
      </li>
      <li>
        <% if current_user.cover_letters.empty? || current_user.jobs.empty? %>
          <%= link_to "Cover Letter Analysis", dashboard_index_path(notice: "cover_letter") %>
        <% else %>
          <%= link_to "Cover Letter Analysis", cover_letter_analysis_path %>
        <% end %>
      </li>
      <li>
        <%= link_to "Dashboard", dashboard_index_path %>
      </li>
      <li>
        <%= link_to "Logout", logout_path, method: :delete %>
      </li>
      <% else %>
      <li>
        <%= link_to "Analysis Examples", "#" %>
      </li>
      <li>
        <%= link_to "Login with LinkedIn", linkedin_login_path %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
<div class="full-navbar-border"></div>
