<!DOCTYPE html>
<html>
  <head>
    <title>JobScore: Resume & cover letter analysis, so you can score a job.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <%= favicon_link_tag(asset_path("score-arrow-xs.png")) %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  </head>

  <header>
    <%= render partial: "shared/navbar" %>
  </header>
  <body class="<%= params[:controller] %>-<%= params[:action] %>">

  <% flash.each do |name, msg| %>
  <%= content_tag :div, raw(msg) %>
  <% end %>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  </body>
</html>
