<!DOCTYPE html>
<html>
  <head>
    <title>JobScore: We score jobs, so you can score a job.</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= favicon_link_tag("score-arrow-xs") %>
  </head>

  <header>
    <%= render partial: "shared/navbar" %>
  </header>
  <body>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, raw(msg), class: name %>
    <% end %>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
